<div class="profile">
    <div class="profile-container">
        <div class="profile-image">
            <img src="{{selectedProfile.avatar_url}}">
        </div>
        <div class="profile-info">
            <h2> dsad {{selectedProfile.name}}</h2>
            <p> Username: {{selectedProfile.login}}</p>
            <p> User id: {{selectedProfile.id}}</p>
            <br/>

            <p> Followers: {{selectedProfile.followers}}</p>
            <p> Following: {{selectedProfile.following}}</p>
            <br/>

            <p> Public gists {{selectedProfile.public_gists}}</p>
            <p> Public repos {{selectedProfile.public_repos}}</p>
            <br/>
            <a href="selectedProfile.blog"> Blog {{selectedProfile.blog}}</a>
        </div>
    </div>    
</div>
